devStoreFile=
devStorePassword=
devKeyPassword=
devKeyAlias=

stagingStoreFile=
stagingStorePassword=
stagingKeyPassword=
stagingKeyAlias=

productionStoreFile=
productionStorePassword=
productionKeyPassword=
productionKeyAlias=
